
extends layout

block content
    if (users.length)
        table
            each registeredUser in users
                tr
                    td= registeredUser.username
    else
        h1 No registed users!