doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    ul
        li
            a(href="/") Home
        li
            a(href="/insert") Insert

        li 
            a(href="/view") View

        li 
            a(href="/login") login

        li 
            a(href="/register") register

        li 
            a(href="/users") users



    block content